select id, id_parte from partes where id_parte > 900000

#select id, id_parte from partes where id_parte < 100000
#   order by id_parte;

#UPDATE partes
#	SET id_parte = id_parte + 900000
#    WHERE id_parte < 100000